h1{
    text-align: center;
    letter-spacing: 4px;
}

.verde {
  color: green;
}

.marron {
  color: burlywood;
}

.verde_clarito {
  color: rgba(106, 182, 31, 0.925);
}

h2 {
  text-decoration: underline;

}

h3{
    margin: 5px;
}


.borde{
  border: 1px;
  border-style: solid;
  
}


#contenedor{
  display: flex;
}


#contenedor_hijo{
  display: flex;
  margin-right: 50px;
  margin-bottom: 50px;
}
